PracticaMVC/Service References/ServicioLogin/ServiceLoginClass1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49661/ServiceLoginClass.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PracticaMVC.Models" />
  <xs:element name="traeClientes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="traeClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PracticaMVC.Models" minOccurs="0" name="traeClientesResult" nillable="true" type="q1:ArrayOfCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>